DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=shy_template
DB_SYNC=true

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=kt-template-online

WORDPRESS_BASE_URL=http://localhost
WORDPRESS_ADMIN_USERNAME=admin
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_TIMEOUT_MS=15000
WORDPRESS_LOGIN_TIMEOUT_MS=3000
WORDPRESS_AVAILABILITY_TTL_MS=60000

ADMIN_TOKEN_SECRET=change-me
ADMIN_COOKIE_SECURE=false
SNOWFLAKE_WORKER_ID=1
SNOWFLAKE_DATACENTER_ID=1

QQBOT_ENABLED=false
QQBOT_EVENT_BUS=mqtt
QQBOT_REVERSE_WS_PATH=/qqbot/onebot/reverse
QQBOT_REVERSE_WS_TOKEN=
QQBOT_AUTO_REGISTER_ACCOUNT=true
QQBOT_API_TIMEOUT_MS=10000
QQBOT_SEND_RATE_PER_SECOND=1
QQBOT_REPEATER_THRESHOLD=2
QQBOT_REPEATER_MAX_TEXT_LENGTH=300
QQBOT_REPEATER_STATE_TTL_MS=600000
QQBOT_REPEATER_CONFIG_CACHE_TTL_MS=2000
NAPCAT_WEBUI_BASE_URL=http://127.0.0.1:6099
NAPCAT_WEBUI_TOKEN=
NAPCAT_WEBUI_TIMEOUT_MS=8000
NAPCAT_LOGIN_QR_EXPIRE_MS=120000
NAPCAT_WEBUI_READY_RETRIES=10
NAPCAT_WEBUI_RESTART_DELAY_MS=3000
QQBOT_NAPCAT_CONTAINER_MODE=
QQBOT_NAPCAT_SSH_TARGET=nas
QQBOT_NAPCAT_SSH_PORT=
QQBOT_NAPCAT_SSH_KEY_PATH=
QQBOT_NAPCAT_SSH_TIMEOUT_MS=120000
QQBOT_NAPCAT_ROOT=/vol1/docker/kt-qqbot/napcat-instances
QQBOT_NAPCAT_IMAGE=mlikiowa/napcat-docker:latest
QQBOT_NAPCAT_CONTAINER_PREFIX=kt-qqbot-napcat
QQBOT_NAPCAT_HOST=192.168.31.224
QQBOT_NAPCAT_PORT_START=6100
QQBOT_NAPCAT_PORT_END=6199
QQBOT_NAPCAT_BASE_URL_TEMPLATE=http://192.168.31.224:{port}
QQBOT_NAPCAT_REVERSE_WS_BASE=ws://192.168.31.224:48085/qqbot/onebot/reverse

MQTT_URL=mqtt://127.0.0.1:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=kt-template-online-api-qqbot

FF14_XIVAPI_BASE_URL=https://v2.xivapi.com/api
FF14_XIVAPI_CHS_BASE_URL=https://xivapi-v2.xivcdn.com/api
FF14_UNIVERSALIS_BASE_URL=https://universalis.app/api/v2
FF14_DEFAULT_WORLD=中国
FF14_MARKET_CACHE_TTL_MS=60000

FFLOGS_BASE_URL=https://www.fflogs.com
FFLOGS_WEB_BASE_URL=https://cn.fflogs.com
FFLOGS_GRAPHQL_URL=https://www.fflogs.com/api/v2/client
FFLOGS_TOKEN_URL=https://www.fflogs.com/oauth/token
FFLOGS_CLIENT_ID=
FFLOGS_CLIENT_SECRET=
FFLOGS_DEFAULT_SERVER_REGION=CN
FFLOGS_DEFAULT_SERVER=
FFLOGS_REQUEST_TIMEOUT_MS=10000
